* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Inter', sans-serif;
}
/* debug  */
/* .col-md-2 {
  height: 100px;
  background-color: blue;
}
.col-md-5 {
  height: 100px;
  background-color: pink;
} */

/* [class*="col-"] {
  border: 1px solid red;
} */

/* Utility */

 .wrapper {
  width: 70%;
  margin: 0 auto;
}

 .text_white {
   color: white;
 }

.text_blue_link {
  color: blue;
}

.text_blue_title {
  color: #031B4E;
  font-weight: 700;
}

.bg_grey {
  background-color: #f3f5f9;
}

.ms_margin {
  margin-top: 30px;
}


/* header */
header {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
}

#logo {
  width: 172px;
  height: 28px;
}

.ms_nav {
  height: 80px;
  line-height: 80px;

}

.ms_nav_item ul li {
  display: inline-block;
  list-style: none;
  padding-right: 0;
}
.ms_nav_item ul li a {
  color: black;
  text-decoration: none;
}

i.hamburger {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  font-size: 40px;
  color: black;
}

/* jumbotron */

.jumbotron-fluid {
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  padding: 50px;
}

.jumbo_text {
  padding: 50px;
}

.form {
  border-radius: 5px;
  background-color: white;
}

.btn_form {
  width: 100%;
}
.btn-default {
  margin-top: 5px;
  margin-bottom: 5px;
}

img.google_icon {
  width: 20px;
  float: left;
}

.bg_grey {
  height: auto;
}


/* main */

/* sezione loghi */
.view_stories {
  margin-top: 50px;
  text-align: center;
  padding: 30px;
}

.logo_container {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.box img {
  margin-top: 10px;
  width: 100%;
  height: 80px;
}

/* sezione deploy e scale */

.row_deploy {
  margin-bottom: 50px;
}

.col_left {
  margin-bottom: 30px;
}

.btn_col {
  border-left: 1px solid grey;
}

.ms_btn {
  background-color: white;
  padding: 10px;
}


/* sezione carousel */

.carousel {
  width: 70%;
  margin: 0 auto;
}

.carousel img{
  width: 100%;
  margin-bottom: 20px;
}


/* sezione regions */
.row_regions {
  padding-top: 40px;
  background-color: #00239e;
}

.row_regions ul li {
  list-style: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.codice {
  padding-right: 50px;
}

.link_regions {
  float: right;
  color: #00d7d2;
}


/* footer */

.footer_top {
  background-color: #00239e;
  padding: 50px;
}

.btn.btn-outline-primary {
  color: #1035b9;
  margin-top: 20px;
}

.footer_bottom {
  background-color: #031c4e;
  color: #a6a6a6;
  padding: 50px;
}

.copyright {
  margin-top: 10px;
}

i.logo_social {
  color: #a6a6a6;
  padding-left: 10px;
}

.footer_text ul li {
  list-style: none;
  line-height: 200%;
}

.shark {
  position: fixed;
  bottom: 10px;
  right: 30px;
}
.shark img {
  max-width: 60px;
}

/* media query */
@media screen and (max-width: 768px) {
  .bg_grey {
    height: 500px;
  }

  .btn_col {
    text-align: center;
}
}

@media screen and (max-width: 1200px) and (min-width: 769px) {

  .btn_col {
    text-align: center;
}
}
