* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Inter', sans-serif;
}
/* debug  */
/* .col-md-2 {
  height: 100px;
  background-color: blue;
}
.col-md-5 {
  height: 100px;
  background-color: pink;
} */

[class*="col-"] {
  border: 1px solid red;
}
/* Utility */

 .wrapper {
  width: 70%;
  background-color: lightgreen;
  margin: 0 auto;
}
 .text_white {
   color: white;
 }
.text_blue_link {
  color: blue;
}

.text_blue_title {
  color: #031B4E;
}

.bg_grey {
  background-color: #f3f5f9;
}

.ms_margin {
  margin-left:-15px;
  margin-right:-15px;
}



/* header */
#logo {
  width: 172px;
  height: 28px;
}

.ms_nav {
  height: 80px;
  line-height: 80px;

}


.ms_nav_item ul li {
  display: inline-block;
  list-style: none;
  padding-right: 0;
}

.ms_nav_item ul li a {
  color: black;
  text-decoration: none;
}

i.hamburger {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  font-size: 40px;
  color: black;
}

/* jumbotron */

.jumbotron-fluid {
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  padding: 50px;
}

.jumbo_text {
  padding: 50px;
}

.form {
  border-radius: 5px;
  background-color: white;
}

.btn_form {
  width: 100%;
}
.btn-default {
  margin-top: 5px;
  margin-bottom: 5px;
}

img.google_icon {
  width: 20px;
  float: left;
}

.bg_grey {
  height: auto;
}


/* main */

/* sezione loghi */
.view_stories {
  margin-top: 50px;
  text-align: center;
  padding: 30px;
}

.logo_container {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.box img {
  margin-top: 10px;
  width: 100%;
  height: 80px;
}

/* sezione deploy e scale */

.row_deploy {
  margin-bottom: 50px;

}
.col_left {
  margin-bottom: 30px;
}
.btn_col {
  border-left: 1px solid grey;
}

.ms_btn {
  background-color: white;
  padding: 10px;
}


/* sezione carousel */

.carousel {
  width: 70%;
  margin: 0 auto;
}
.carousel img{
  width: 100%;
}






/* madia query */
@media screen and (max-width: 768px) {
  .bg_grey {
    height: 500px;
  }

.btn_col {
  text-align: center;
}
}

@media screen and (min-width: 769px max-width: 1200px ) {

.btn_col {
  text-align: center;
}
}
